Repository techprimate/Flinky: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-localization, generate-licenses, generate-version-in-settings, format-json, format-markdown, format-yaml, format-swift, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: generate-localization
        name: Generate Localization
        entry: make
        language: system
        files: ^(Sources/Resources/Localizable\.xcstrings|Templates/.*\.stencil|Makefile|Scripts/generate-localization\.sh)$
        pass_filenames: false
        args:
          - "generate-localization"

      - id: generate-licenses
        name: Generate Licenses
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "generate-licenses"

      - id: generate-version-in-settings
        name: Generate Version in Settings
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "generate-version-in-settings"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "lint"

perf(ci): Skip screenshot prewarming
  .github/workflows/screenshots.yml
Due: none

fix(ci): Restore screenshot prewarming
  .github/workflows/screenshots.yml
Due: none

fix(xcodegen): Correct test scheme references
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionUITests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/UITests.xcscheme
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/FlinkyCoreTests/Config/FlinkyCoreTests.xctestplan
  Targets/ScreenshotUITests/Config/ScreenshotUITests.xctestplan
  Targets/ShareExtensionTests/Config/ShareExtensionTests.xctestplan
  Targets/ShareExtensionUITests/Config/ShareExtensionUITests.xctestplan
  Targets/Tests/Config/Tests.xctestplan
  Targets/UITests/Config/UITests.xctestplan
  project.yml
Due: none

fix(ci): Group Sentry Renovate updates
  renovate.json
Due: format-json

chore: Add xcodegen for Xcode Project generation (#131)
  .pre-commit-config.yaml
  Brewfile
  Brewfile-ci
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/FlinkyCore.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/FlinkyCoreTests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ScreenshotUITests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtension.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionTests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionUITests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/Tests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/UITests.xcscheme
  Makefile
  Scripts/generate-project.sh
  Targets/App/Config/.gitkeep
  Targets/FlinkyCore/Config/.gitkeep
  Targets/FlinkyCore/Generated/.gitkeep
  Targets/FlinkyCoreTests/Config/FlinkyCoreTests.xctestplan
  Targets/FlinkyCoreTests/Generated/.gitkeep
  Targets/ScreenshotUITests/Config/ScreenshotUITests.xctestplan
  Targets/ScreenshotUITests/Generated/.gitkeep
  Targets/ShareExtension/Config/.gitkeep
  Targets/ShareExtension/Generated/.gitkeep
  Targets/ShareExtensionTests/Config/ShareExtensionTests.xctestplan
  Targets/ShareExtensionTests/Generated/.gitkeep
  Targets/ShareExtensionUITests/Config/ShareExtensionUITests.xctestplan
  Targets/ShareExtensionUITests/Generated/.gitkeep
  Targets/Tests/Config/Tests.xctestplan
  Targets/Tests/Generated/.gitkeep
  Targets/UITests/Config/UITests.xctestplan
  Targets/UITests/Generated/.gitkeep
  project.yml
Due: generate-localization

fix(ci): force renewal of provisioning profiles
  fastlane/lanes/utilities.rb
Due: none

build: Generate local Sentry package with XcodeGen
  Makefile
  Scripts/patch-sentry-package.rb
Due: generate-localization

fix(ci): Route Sentry updates through XcodeGen
  .github/workflows/regenerate-files.yml
  renovate.json
Due: format-json

chore: regenerate files
  Flinky.xcodeproj/project.pbxproj
Due: none

fix(ci): Group Swift package references
  renovate.json
Due: format-json

test(ci): Trigger full Sentry Renovate update
  Flinky.xcodeproj/project.pbxproj
  project.yml
Due: none

chore: regenerate files
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

chore: regenerate files
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
Due: none

fix(ci): Persist release versions through generation
  .github/workflows/release.yml
  Brewfile
  Brewfile-ci
  Flinky.xcodeproj/project.pbxproj
  Makefile
  Scripts/generate-version-in-settings.sh
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  fastlane/lanes/git.rb
  fastlane/lanes/helpers.rb
  fastlane/lanes/release.rb
  fastlane/lanes/utilities.rb
  fastlane/lanes/version.rb
  project.yml
Due: generate-localization

ref(fastlane): Read project versions with Ruby YAML
  fastlane/lanes/helpers.rb
Due: none

fix(ci): Persist release versions through generation (#181)
  .github/workflows/release.yml
  Brewfile
  Brewfile-ci
  Flinky.xcodeproj/project.pbxproj
  Makefile
  Scripts/generate-version-in-settings.sh
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  fastlane/lanes/git.rb
  fastlane/lanes/helpers.rb
  fastlane/lanes/release.rb
  fastlane/lanes/utilities.rb
  fastlane/lanes/version.rb
  project.yml
Due: generate-localization

fix(app): Remove stale NFC usage description
  Flinky.xcodeproj/project.pbxproj
  project.yml
Due: none

chore: regenerate project files
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
Due: none

chore: regenerate files
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
Due: none

chore: bump version to 1.1.10
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
  project.yml
Due: none

ci(build): Normalize preprod size analysis
  Flinky.xcodeproj/project.pbxproj
  fastlane/lanes/build.rb
  project.yml
Due: none

ci(build): Normalize preprod size analysis (#186)
  Flinky.xcodeproj/project.pbxproj
  fastlane/lanes/build.rb
  project.yml
Due: none

perf(build): Optimize preprod archive size
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Config/ExportedSymbols.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Licenses/sentry-apple-swift-log.plist
  Targets/ShareExtension/Config/ExportedSymbols.txt
  license_plist.yml
  project.yml
Due: none

license: Restore separate Sentry acknowledgements
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Licenses/sentry-apple-swift-log.plist
  license_plist.yml
Due: none

perf(build): Optimize preprod archive size (#185)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Config/ExportedSymbols.txt
  Targets/ShareExtension/Config/ExportedSymbols.txt
  project.yml
Due: none

perf(build): Strip preprod binary symbols
  fastlane/lanes/build.rb
Due: none

perf(build): Strip preprod binary symbols (#187)
  fastlane/lanes/build.rb
Due: none

style: Add .build to excluded files for SwiftLint
  .swiftlint.yml
Due: none

fix: improve SENTRY_PACKAGE_PATH validation and symlink handling in patch-sentry-package
  Makefile
Due: generate-localization

ref(metrickit): Align diagnostic reporting with metric helpers
  Targets/App/Sources/Services/MetricKitManager.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(sentry): Enable uploading of raw MetricKit payloads
  Targets/App/Sources/Main/FlinkyApp.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint
