Repository techprimate/Flinky: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-localization, generate-licenses, generate-version-in-settings, format-json, format-markdown, format-yaml, format-swift, lint

generate-localization:
  name: Generate Localization
  entry: make
  language: system
  pass_filenames: false
  args:
  - generate-localization

generate-licenses:
  name: Generate Licenses
  entry: make
  language: system
  args:
  - generate-licenses

generate-version-in-settings:
  name: Generate Version in Settings
  entry: make
  language: system
  args:
  - generate-version-in-settings

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format

lint:
  name: Run Linters
  entry: make
  language: system
  args:
  - lint

chore(tests): Update ScreenshotUITests to reflect new link and device configurations
  Flinky.xcodeproj/xcshareddata/xcschemes/ScreenshotUITests.xcscheme
  Targets/ScreenshotUITests/Sources/ScreenshotUITests.swift
  fastlane/Fastfile
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore(fastlane): Update Fastfile to include new iPhone 17 and iPad Pro (M5) resolutions for screenshots
  fastlane/Fastfile
Due: none

chore(ci): Update Makefile and CI workflow to support configurable simulator device name
  .github/workflows/build-test.yml
  Makefile
Due: generate-localization

chore(ci): Fix quoting for DEVICE_NAME in CI workflow
  .github/workflows/build-test.yml
Due: none

chore(deps): Update Sentry Cocoa package branch to main
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

chore(ci): Add target for running all UI test suites in Makefile
  Makefile
Due: generate-localization

feat: Add support for Liquid Glass UI
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorRenderView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorRenderView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/LinkListPickerRenderView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorRenderView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingRenderView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoRenderView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoRenderView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsRenderView.swift
  Targets/App/Sources/UI/LinkLists/PinnedLinkListCardView.swift
  Targets/App/Sources/UI/LinkLists/PinnedLinkListsRenderView.swift
  Targets/App/Sources/Utils/AvailabilityModifier.swift
  fastlane/metadata/en-US/release_notes.txt
Due: generate-licenses, generate-version-in-settings, format-swift, lint

refactor: Use shared model container initialization for testing
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/FlinkyCore/Sources/Utils/ProcessInfo+Flinky.swift
  Targets/FlinkyCore/Sources/Utils/SharedModelContainerFactory.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore: Update project configuration and scheme for ShareExtension
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/xcshareddata/xcschemes/ScreenshotUITests.xcscheme
Due: none

chore(ci): Change runs-on to macos-26
  .github/workflows/build-test.yml
Due: none

chore(ci): Change simulator in Makefile to iPhone 17 Pro
  Makefile
Due: generate-localization

chore: Bump version to 1.1.1 (25)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

WIP
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorRenderView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorRenderView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoRenderView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsRenderView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore(deps): Generate licenses with latest version
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
Due: none

chore(deps): update Sentry to v9.0.0
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

chore: Disable Sentry debug mode in production
  Targets/App/Sources/Main/FlinkyApp.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore(ci): Change simulator for build and test to iPhone 17 Pro (26.1)
  .github/workflows/build-test.yml
Due: none

chore: Update generated Licenses
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

chore(ci): Change simulator for build and test to iPhone 17 Pro (26.1) (#71)
  .github/workflows/build-test.yml
Due: none

chore: Update generated Licenses (#72)
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

chore: Bump version to 1.1.1 (26)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

chore(deps): Update Ruby dependencies to latest
  Gemfile.lock
Due: none

fix(share-extension): Add typed error enum
  Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/ShareExtension/Sources/Utils/ShareExtensionError.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

add localization
  Targets/ShareExtension/Sources/Generated/L10n.swift
  Targets/ShareExtension/Sources/Resources/Localizable.xcstrings
  Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/ShareExtension/Sources/Utils/ShareExtensionError.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(share-extension): Add typed error enum (#77)
  Targets/ShareExtension/Sources/Generated/L10n.swift
  Targets/ShareExtension/Sources/Resources/Localizable.xcstrings
  Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/ShareExtension/Sources/Utils/ShareExtensionError.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

docs: Update release notes
  fastlane/metadata/en-US/release_notes.txt
Due: none

chore: Bump version to 1.1.1 (27)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

refactor: Add publish lane and refactor Fastfile with private lanes
  Makefile
  fastlane/Fastfile
Due: generate-localization

chore: Bump version to 1.1.2 (29)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

chore(deps): Update sentry-fastlane-plugin to v2.0.0-rc.1
  Gemfile.lock
  fastlane/Pluginfile
Due: none

chore(deps): Update sentry-fastlane-plugin to v2.0.0-rc.1 (#79)
  Gemfile.lock
  fastlane/Pluginfile
Due: none

chore: Bump version to 1.1.2 (30)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

chore: Bump version to 1.1.2 (32)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

chore(deps): Update sentry-fastlane-plugin to v2.0.0-rc.2
  Gemfile.lock
  fastlane/Pluginfile
Due: none

chore: Bump version to 1.1.2 (33)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

Path conditions:
  generate-localization: any of: ^(Sources/Resources/Localizable\.xcstrings|Templates/.*\.stencil|Makefile|Scripts/generate-localization\.sh)$
  generate-licenses: any of: \.swift$
  generate-version-in-settings: any of: \.swift$
  format-json: any of: ^.*\.json$ and \.json$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
  format-swift: any of: \.swift$
  lint: any of: \.swift$
