Repository techprimate/Flinky: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-localization, generate-licenses, generate-version-in-settings, format-json, format-markdown, format-yaml, format-swift, lint

generate-localization:
  name: Generate Localization
  entry: make
  language: system
  pass_filenames: false
  args:
  - generate-localization

generate-licenses:
  name: Generate Licenses
  entry: make
  language: system
  args:
  - generate-licenses

generate-version-in-settings:
  name: Generate Version in Settings
  entry: make
  language: system
  args:
  - generate-version-in-settings

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format

lint:
  name: Run Linters
  entry: make
  language: system
  args:
  - lint

chore: Remove unused SwiftFormat configuration file
  .swiftformat
  Brewfile
  Flinky.xcodeproj/project.pbxproj
Due: none

chore: Remove empty docs file
  Sources/Services/README.md
Due: format-markdown

refactor: Change name of documentation directory
  Documentation/Accessibility-Guide.md
  Documentation/Analytics.md
  Documentation/SwiftGen-Localization.md
  Documentation/Version-Generation.md
Due: format-markdown

chore: Update pre-commit configuration regex patterns for localization and YAML files
  .pre-commit-config.yaml
Due: none

style: Apply pre-commit formatting to fastlane metadata files
  fastlane/metadata/en-US/apple_tv_privacy_policy.txt
  fastlane/metadata/en-US/marketing_url.txt
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/primary_first_sub_category.txt
  fastlane/metadata/primary_second_sub_category.txt
  fastlane/metadata/review_information/demo_password.txt
  fastlane/metadata/review_information/demo_user.txt
  fastlane/metadata/review_information/notes.txt
  fastlane/metadata/secondary_first_sub_category.txt
  fastlane/metadata/secondary_second_sub_category.txt
Due: none

feat: Add prototype of Share Extension with UI and localization support
  .gitignore
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/xcshareddata/xcschemes/ScreenshotUITests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtension.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionUITests.xcscheme
  Makefile
  Scripts/generate-localization.sh
  Targets/App/Sources/Resources/Localizable.xcstrings
  Targets/App/Sources/Utils/Localization.swift
  Targets/FlinkyCore/Sources/Resources/Localizable.xcstrings
  Targets/ShareExtension/Sources/Resources/Base.lproj/MainInterface.storyboard
  Targets/ShareExtension/Sources/Resources/Info.plist
  Targets/ShareExtension/Sources/Resources/Localizable.xcstrings
  Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/ShareExtension/UITests/ShareExtensionUITests.swift
Due: generate-localization, generate-licenses, generate-version-in-settings, format-swift, lint

added more extension logic
  Targets/ShareExtension/Sources/ItemPickerViewController.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/ShareExtension/Sources/TextInputViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore: Remove strict linting from Xcode run build phase
  Flinky.xcodeproj/project.pbxproj
Due: none

chore: Add local development setup for Sentry Cocoa SDK
  .gitmodules
  .swiftlint.yml
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Sources/Resources/Settings.bundle/Licenses.plist
  Sources/Resources/Settings.bundle/Licenses/sentry-cocoa.plist
  Sources/UI/LinkLists/LinkListsRenderView.swift
  license_plist.yml
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fixed makefile
  .gitignore
  .swiftlint.yml
  Makefile
Due: generate-localization

chore: Update project configuration and localization files
  .gitignore
  Flinky.xcodeproj/project.pbxproj
  Generated/generated-en.strings
  Targets/App/Generated/.gitkeep
  Targets/App/Generated/generated-en.strings
  Targets/App/Sources/Generated/L10n.swift
  Targets/FlinkyCore/Sources/Generated/L10n.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

feat(ci): Add script for CI diagnostics
  .github/workflows/build-test.yml
  Scripts/ci-diagnostics.sh
Due: none

change script to be executable
  Scripts/ci-diagnostics.sh
Due: none

change order of build phases
  Flinky.xcodeproj/project.pbxproj
Due: none

add ci-utils.sh
  Scripts/ci-utils.sh
Due: none

feat(share-extension): Add share extension
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtension.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionUITests.xcscheme
  Scripts/generate-localization.sh
  Targets/ShareExtension/Sources/Generated/L10n.swift
  Targets/ShareExtension/Sources/ItemPickerViewController.swift
  Targets/ShareExtension/Sources/Resources/Base.lproj/MainInterface.storyboard
  Targets/ShareExtension/Sources/Resources/Info.plist
  Targets/ShareExtension/Sources/Resources/Localizable.xcstrings
  Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/ShareExtension/Sources/TextInputViewController.swift
  Targets/ShareExtension/UITests/ShareExtensionUITests.swift
Due: generate-localization, generate-licenses, generate-version-in-settings, format-swift, lint

feat(share-extension): Implement shared model container and enhance UI components
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtension.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionUITests.xcscheme
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/FlinkyCore/Sources/Utils/SharedModelContainerFactory.swift
  Targets/ShareExtension/Config/ShareExtensionUITests.xctestplan
  Targets/ShareExtension/Sources/Generated/L10n.swift
  Targets/ShareExtension/Sources/Resources/Localizable.xcstrings
  Targets/ShareExtension/Sources/Resources/ShareExtension.entitlements
  Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/ShareExtension/Sources/TextInputViewController.swift
  Targets/ShareExtension/Sources/UI/ItemPickerViewController.swift
  Targets/ShareExtension/Sources/UI/TextInputViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

apply PR feedback
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

Update Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore(ci): Add derived data artifact uploads to CI workflow
  .github/workflows/build-test.yml
Due: none

feat(share-extension): Add share extension (#20)
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtension.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionUITests.xcscheme
  Scripts/generate-localization.sh
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/FlinkyCore/Sources/Utils/SharedModelContainerFactory.swift
  Targets/ShareExtension/Config/ShareExtensionUITests.xctestplan
  Targets/ShareExtension/Sources/Generated/L10n.swift
  Targets/ShareExtension/Sources/Resources/Base.lproj/MainInterface.storyboard
  Targets/ShareExtension/Sources/Resources/Info.plist
  Targets/ShareExtension/Sources/Resources/Localizable.xcstrings
  Targets/ShareExtension/Sources/Resources/ShareExtension.entitlements
  Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/ShareExtension/Sources/UI/ItemPickerViewController.swift
  Targets/ShareExtension/Sources/UI/TextInputViewController.swift
  Targets/ShareExtension/UITests/ShareExtensionUITests.swift
Due: generate-localization, generate-licenses, generate-version-in-settings, format-swift, lint

chore: Bump version to 1.1.0 (16)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

fix(ci): Change scheme of beta lane
  fastlane/Fastfile
Due: none

chore(metadata): Update release notes for new features and improvements
  fastlane/metadata/en-US/release_notes.txt
Due: none

chore: Add CODEOWNERS file with owner assignment
  CODEOWNERS
Due: none

chore(app): Update Licenses plist
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

fix(share-extension): Change web URL support type from string to integer in Info.plist
  Targets/ShareExtension/Sources/Resources/Info.plist
Due: none

chore: Add IPA verification to beta lane
  fastlane/Fastfile
Due: none

chore: Bump version to 1.1.0 (17)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

chore: Remove deployment test lane from Fastfile
  fastlane/Fastfile
Due: none

chore(ci): Update Fastlane configuration for Sentry archive upload integration
  .github/workflows/build-test.yml
  .gitignore
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Due: none

chore(ci): Enhance Fastlane setup for code signing and add Matchfile for certificate management
  .github/workflows/build-test.yml
  Flinky.xcodeproj/project.pbxproj
  fastlane/Fastfile
  fastlane/Matchfile
Due: none

Path conditions:
  generate-localization: any of: ^(Sources/Resources/Localizable\.xcstrings|Templates/.*\.stencil|Makefile|Scripts/generate-localization\.sh)$
  generate-licenses: any of: \.swift$
  generate-version-in-settings: any of: \.swift$
  format-json: any of: ^.*\.json$ and \.json$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
  format-swift: any of: \.swift$
  lint: any of: \.swift$
