Repository techprimate/Flinky: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-localization, generate-licenses, generate-version-in-settings, format-json, format-markdown, format-yaml, format-swift, lint

generate-localization:
  name: Generate Localization
  entry: make
  language: system
  pass_filenames: false
  args:
  - generate-localization

generate-licenses:
  name: Generate Licenses
  entry: make
  language: system
  args:
  - generate-licenses

generate-version-in-settings:
  name: Generate Version in Settings
  entry: make
  language: system
  args:
  - generate-version-in-settings

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format

lint:
  name: Run Linters
  entry: make
  language: system
  args:
  - lint

feat(ci): Add workflow to publish scheduled beta builds
  .github/workflows/publish-beta-build.yml
  fastlane/Fastfile
Due: none

create api key in CI
  .github/workflows/publish-beta-build.yml
  Brewfile-ci
  fastlane/Fastfile
Due: none

refactor codesigning in beta lane
  fastlane/Fastfile
Due: none

remove branch from checkout
  .github/workflows/publish-beta-build.yml
Due: none

chore: Bump project version to 34 and clean up Fastfile
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
  fastlane/Fastfile
Due: none

remove push trigger
  .github/workflows/publish-beta-build.yml
Due: none

apply feedback from pull request review
  .github/workflows/publish-beta-build.yml
  fastlane/Fastfile
Due: none

feat(ci): Add workflow to publish scheduled beta builds (#81)
  .github/workflows/publish-beta-build.yml
  Brewfile-ci
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
  fastlane/Fastfile
Due: none

feat: implement comprehensive Sentry metrics strategy
  Documentation/Analytics.md
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Services/DataSeedingService.swift
  Targets/App/Sources/Services/QRCodeCache.swift
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorContainerView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingViewModel.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-markdown, format-swift, lint

Fix compilation
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

Added more app health metrics
  Documentation/Analytics.md
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Services/AppHealthObserver.swift
  Targets/App/Sources/Services/QRCodeCache.swift
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
Due: generate-licenses, generate-version-in-settings, format-markdown, format-swift, lint

Remove unused previousSearchText state variable from LinkListDetailContainerView and LinkListsContainerView
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

feat: Add usage metrics (#83)
  Documentation/Analytics.md
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Services/AppHealthObserver.swift
  Targets/App/Sources/Services/DataSeedingService.swift
  Targets/App/Sources/Services/QRCodeCache.swift
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorContainerView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingViewModel.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-markdown, format-swift, lint

git commit -m chore: Bump version to 1.1.2 (36)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
  fastlane/metadata/en-US/release_notes.txt
Due: none

chore: Bump version to 1.1.2 (37)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

feat(dx): Add tools to bump version
  Makefile
  fastlane/Fastfile
Due: generate-localization

feat(dx): Add tools to bump version (#85)
  Makefile
  fastlane/Fastfile
Due: generate-localization

feat(dx): Add private lane to run generate on version bump
  fastlane/Fastfile
Due: none

chore: Bump to v1.1.3
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

chore: update generated Licenses file
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

feat(ci): Add release-branch based beta publishing
  .github/workflows/publish-beta-build.yml
  .github/workflows/tag-version-after-merge.yml
  fastlane/Fastfile
Due: none

fix(ci): Replace return statements with next statements
  fastlane/Fastfile
Due: none

refactor(fastlane): Modularize Fastfile into separate lane files
  .github/workflows/deploy-beta.yml
  .github/workflows/prepare-release.yml
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  fastlane/actions/enable_pr_auto_merge.rb
  fastlane/lanes/build.rb
  fastlane/lanes/git.rb
  fastlane/lanes/helpers.rb
  fastlane/lanes/release.rb
  fastlane/lanes/sentry.rb
  fastlane/lanes/utilities.rb
  fastlane/lanes/version.rb
Due: none

remove unit for counter metrics
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(ci): Add early-exit for non-version PRs
  .github/workflows/tag-version-after-merge.yml
Due: none

feat: Switch from Sentry xcframework to SentrySPM compile-from-source
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Services/AppHealthObserver.swift
  Targets/App/Sources/Services/DataSeedingService.swift
  Targets/App/Sources/Services/QRCodeCache.swift
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/LinkListPickerContainerView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingContainerView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingViewModel.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/App/Sources/UI/MainContainerView.swift
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore(deps): change SentrySPM to target main branch
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

WIP
  Flinky.xcodeproj/project.pbxproj
Due: none

chore(ci): Enable workflows for all pull requests
  .github/workflows/build-test.yml
Due: none

refactor: Replace SwiftSPM imports with SentrySwift
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Services/AppHealthObserver.swift
  Targets/App/Sources/Services/DataSeedingService.swift
  Targets/App/Sources/Services/QRCodeCache.swift
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/LinkListPickerContainerView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingContainerView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingViewModel.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/App/Sources/UI/MainContainerView.swift
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

replace sentryspm with sentryswift
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Services/AppHealthObserver.swift
  Targets/App/Sources/Services/DataSeedingService.swift
  Targets/App/Sources/Services/QRCodeCache.swift
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/LinkListPickerContainerView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingContainerView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingViewModel.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/App/Sources/UI/MainContainerView.swift
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

feat: Switch from Sentry xcframework to SentrySPM compile-from-source (#92)
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Services/AppHealthObserver.swift
  Targets/App/Sources/Services/DataSeedingService.swift
  Targets/App/Sources/Services/QRCodeCache.swift
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/LinkListPickerContainerView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingContainerView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingViewModel.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/App/Sources/UI/MainContainerView.swift
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

ci(release): Simplify beta release workflow
  .github/workflows/deploy-beta.yml
  .github/workflows/release-beta.yml
  .github/workflows/tag-version-after-merge.yml
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  fastlane/lanes/release.rb
  fastlane/lanes/utilities.rb
Due: none

fix(fastlane): Validate auto-merge method enum
  fastlane/actions/enable_pr_auto_merge.rb
Due: none

ref(release): Remove obsolete PR-based beta flow
  .github/workflows/release-beta.yml
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
  fastlane/actions/enable_pr_auto_merge.rb
  fastlane/lanes/git.rb
  fastlane/lanes/release.rb
Due: none

fix(fastlane): Sync code signing in publish lane
  fastlane/lanes/release.rb
Due: none

refactor(fastlane): Modularize Fastfile into separate lane files (#87)
  .github/workflows/release-beta.yml
  .github/workflows/tag-version-after-merge.yml
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  fastlane/Fastfile
  fastlane/lanes/build.rb
  fastlane/lanes/git.rb
  fastlane/lanes/helpers.rb
  fastlane/lanes/release.rb
  fastlane/lanes/sentry.rb
  fastlane/lanes/utilities.rb
  fastlane/lanes/version.rb
Due: none

feat(ci): implement signed commit via GitHub API in release process
  .github/workflows/release-beta.yml
  Gemfile
  Gemfile.lock
  fastlane/lanes/git.rb
  fastlane/lanes/release.rb
Due: none

chore: Bump version to 1.1.3 (40)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

fix: harden signed release commit
  .github/workflows/release-beta.yml
  fastlane/lanes/git.rb
Due: none

Path conditions:
  generate-localization: any of: ^(Sources/Resources/Localizable\.xcstrings|Templates/.*\.stencil|Makefile|Scripts/generate-localization\.sh)$
  generate-licenses: any of: \.swift$
  generate-version-in-settings: any of: \.swift$
  format-json: any of: ^.*\.json$ and \.json$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
  format-swift: any of: \.swift$
  lint: any of: \.swift$
