Repository techprimate/Flinky: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-localization, generate-licenses, generate-version-in-settings, format-json, format-markdown, format-yaml, format-swift, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: generate-localization
        name: Generate Localization
        entry: make
        language: system
        files: ^(Sources/Resources/Localizable\.xcstrings|Templates/.*\.stencil|Makefile|Scripts/generate-localization\.sh)$
        pass_filenames: false
        args:
          - "generate-localization"

      - id: generate-licenses
        name: Generate Licenses
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "generate-licenses"

      - id: generate-version-in-settings
        name: Generate Version in Settings
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "generate-version-in-settings"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "lint"

chore(ci): Add uploading of logs and xcresults for failed jobs
  .github/workflows/build-test.yml
Due: none

fix(ci): Add LICENSE_PLIST_GITHUB_TOKEN to environment
  .github/workflows/build-test.yml
  Scripts/generate-licenses.sh
Due: none

chore: Remove unused factory method
  Targets/FlinkyCore/Sources/Utils/SharedModelContainerFactory.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore: Update generated licenses
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

fix: Change ENABLE_USER_SCRIPT_SANDBOXING to NO
  Flinky.xcodeproj/project.pbxproj
Due: none

feat: Migrate Sentry from SPM to git submodule
  .gitignore
  .gitmodules
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Scripts/generate-licenses.sh
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/ShareExtension/Sources/ShareViewController.swift
  license_plist.yml
  renovate.json
Due: generate-licenses, generate-version-in-settings, format-json, format-swift, lint

ci: Enable submodule checkout in GitHub Actions
  .github/workflows/build-test.yml
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

feat: Migrate Sentry from SPM to git submodule (#48)
  .github/workflows/build-test.yml
  .gitignore
  .gitmodules
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Scripts/generate-licenses.sh
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/ShareExtension/Sources/ShareViewController.swift
  license_plist.yml
  renovate.json
Due: generate-licenses, generate-version-in-settings, format-json, format-swift, lint

fix: Remove framework embedding for share extension
  Flinky.xcodeproj/project.pbxproj
Due: none

chore: Bump marketing version to 1.1.1
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

fix: Change generate-licenses.sh to use git ls-tree
  Scripts/generate-licenses.sh
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

chore: Bump version to 1.1.1 (19)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

chore(ci): Add job timeout of 60 minutes
  .github/workflows/build-test.yml
Due: none

chore: Update Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

chore(deps): Resolve swift-log library and update licenses
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Licenses/swift-log.plist
Due: none

chore: Bump version to 1.1.1 (20)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore: Bump version to 1.1.1 (21)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
  fastlane/Fastfile
Due: none

chore(deps): update Sentry.xcodeproj path and adjust Package.resolved hash
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Licenses/swift-log.plist
Due: none

fix: Remove invalid sentry-cocoa v9 option
  Targets/App/Sources/Main/FlinkyApp.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore: Bump version to 1.1.1 (22)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

chore: Remove formatting step from Fastfile before version commit
  fastlane/Fastfile
Due: none

chore: Bump version to 1.1.1 (23)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

chore(deps): Replace getsentry/sentry-cocoa submodule with SPM
  .gitmodules
  .swiftlint.yml
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Scripts/generate-licenses.sh
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/ShareExtension/Sources/ShareViewController.swift
  license_plist.yml
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore(dx): Add help and setup target to Makefile
  CONTRIBUTING.md
  Documentation/Makefile-Targets.md
  Makefile
  README.md
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: generate-localization, format-markdown

Apply suggestions from code review
  Documentation/Makefile-Targets.md
  Makefile
Due: generate-localization, format-markdown

Remove duplicate helper code
  Makefile
Due: generate-localization

chore(dx): Add comprehensive Makefile help system with detailed command documentation (#61)
  CONTRIBUTING.md
  Documentation/Makefile-Targets.md
  Makefile
  README.md
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: generate-localization, format-markdown

replace SPM branch with levelObjC
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(ci): Use iOS 18 instead of latest for UI tests
  .github/workflows/build-test.yml
  Makefile
Due: generate-localization

fix(ci): Use iOS 18 for UI tests (#63)
  .github/workflows/build-test.yml
  Makefile
Due: generate-localization

chore(deps): Replace getsentry/sentry-cocoa submodule with SPM (#59)
  .gitmodules
  .swiftlint.yml
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Scripts/generate-licenses.sh
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  license_plist.yml
Due: none

chore: Bump version to 1.1.1 (24)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

docs: Update release notes
  fastlane/metadata/en-US/release_notes.txt
Due: none

feat: Add support for Liquid Glass UI
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorRenderView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorRenderView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/LinkListPickerRenderView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorRenderView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingRenderView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoRenderView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoRenderView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsRenderView.swift
  Targets/App/Sources/UI/LinkLists/PinnedLinkListCardView.swift
  Targets/App/Sources/UI/LinkLists/PinnedLinkListsRenderView.swift
  Targets/App/Sources/Utils/AvailabilityModifier.swift
  fastlane/metadata/en-US/release_notes.txt
Due: generate-licenses, generate-version-in-settings, format-swift, lint

refactor: Use shared model container initialization for testing
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/FlinkyCore/Sources/Utils/ProcessInfo+Flinky.swift
  Targets/FlinkyCore/Sources/Utils/SharedModelContainerFactory.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore: Update project configuration and scheme for ShareExtension
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/xcshareddata/xcschemes/ScreenshotUITests.xcscheme
Due: none

chore(ci): Change runs-on to macos-26
  .github/workflows/build-test.yml
Due: none

chore(ci): Change simulator in Makefile to iPhone 17 Pro
  Makefile
Due: generate-localization

chore(deps): Update Sentry Cocoa package branch to main
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

chore(ci): Add target for running all UI test suites in Makefile
  Makefile
Due: generate-localization
