Repository techprimate/Flinky: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-localization, generate-licenses, generate-version-in-settings, format-json, format-markdown, format-yaml, format-swift, lint

generate-localization:
  name: Generate Localization
  entry: make
  language: system
  pass_filenames: false
  args:
  - generate-localization

generate-licenses:
  name: Generate Licenses
  entry: make
  language: system
  args:
  - generate-licenses

generate-version-in-settings:
  name: Generate Version in Settings
  entry: make
  language: system
  args:
  - generate-version-in-settings

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format

lint:
  name: Run Linters
  entry: make
  language: system
  args:
  - lint

feat(ci): implement signed commit via GitHub API in release process (#97)
  .github/workflows/release-beta.yml
  Gemfile
  Gemfile.lock
  fastlane/lanes/git.rb
  fastlane/lanes/release.rb
Due: none

ci: Add workflow to auto-create GitHub pre-release for release-beta builds
  .github/workflows/release-pre-release.yml
Due: none

fix(ci): Use valid glob pattern for release-pre-release tag trigger
  .github/workflows/release-pre-release.yml
Due: none

ci: Add concurrency group to release-pre-release workflow
  .github/workflows/release-pre-release.yml
Due: none

ci: Add workflow to auto-create GitHub pre-release for release-beta builds (#98)
  .github/workflows/release-pre-release.yml
Due: none

feat(ci): Add Sentry snapshots upload to CI workflows
  .github/workflows/build-test.yml
  .github/workflows/release-beta.yml
  Gemfile.lock
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  fastlane/Pluginfile
  fastlane/lanes/utilities.rb
Due: none

perf(ci): Reduce screenshot devices to single iPhone for CI
  .github/workflows/build-test.yml
  .github/workflows/release-beta.yml
  fastlane/lanes/utilities.rb
Due: none

fix(ci): Correct screenshot path in upload_screenshots_to_sentry lane
  fastlane/lanes/utilities.rb
Due: none

update submodule
  Gemfile.lock
Due: none

WIP
  Gemfile.lock
  fastlane/Pluginfile
Due: none

feat(ci): Add Sentry snapshots upload to CI workflows (#102)
  .github/workflows/build-test.yml
  .github/workflows/release-beta.yml
  Gemfile.lock
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  fastlane/Pluginfile
  fastlane/lanes/utilities.rb
Due: none

chore(deps): Use sentry-fastlane-plugin v2.3.0
  Gemfile.lock
  fastlane/Pluginfile
Due: none

Apply suggestion from @philprime
  fastlane/Pluginfile
Due: none

chore(deps): Use sentry-fastlane-plugin v2.3.0 (#103)
  Gemfile.lock
  fastlane/Pluginfile
Due: none

ref: Remove NFC sharing feature
  Documentation/Analytics.md
  Flinky.xcodeproj/project.pbxproj
  Generated/generated-en.strings
  README.md
  Targets/App/Generated/generated-en.strings
  Targets/App/Sources/Generated/L10n.swift
  Targets/App/Sources/Resources/App.entitlements
  Targets/App/Sources/Resources/Localizable.xcstrings
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingContainerView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingViewModel.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/NFCDeviceDelegate.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/NFCSharingState.swift
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
  Targets/FlinkyCore/Sources/Errors/AppError.swift
  Targets/FlinkyCore/Sources/Generated/L10n.swift
  Targets/FlinkyCore/Sources/Resources/Localizable.xcstrings
  fastlane/metadata/review_information/notes.txt
Due: generate-licenses, generate-version-in-settings, format-markdown, format-swift, lint

docs: Update release notes for NFC removal
  fastlane/metadata/en-US/release_notes.txt
Due: none

ref: Remove NFC sharing feature (#108)
  Documentation/Analytics.md
  Flinky.xcodeproj/project.pbxproj
  Generated/generated-en.strings
  README.md
  Targets/App/Generated/generated-en.strings
  Targets/App/Sources/Generated/L10n.swift
  Targets/App/Sources/Resources/App.entitlements
  Targets/App/Sources/Resources/Localizable.xcstrings
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingContainerView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingRenderView.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/LinkDetailNFCSharingViewModel.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/NFCDeviceDelegate.swift
  Targets/App/Sources/UI/LinkDetailNFCSharing/NFCSharingState.swift
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
  Targets/FlinkyCore/Sources/Errors/AppError.swift
  Targets/FlinkyCore/Sources/Generated/L10n.swift
  Targets/FlinkyCore/Sources/Resources/Localizable.xcstrings
  fastlane/metadata/en-US/release_notes.txt
  fastlane/metadata/review_information/notes.txt
Due: generate-licenses, generate-version-in-settings, format-markdown, format-swift, lint

feat(ci): Add release workflow for App Store submissions
  .github/workflows/release.yml
  fastlane/lanes/release.rb
Due: none

fix: Explicitly specify IPA path in upload_to_app_store
  fastlane/lanes/release.rb
Due: none

fix: Use static concurrency group for release workflow
  .github/workflows/release.yml
Due: none

fix: Explicitly specify IPA output name in build_app
  fastlane/lanes/helpers.rb
Due: none

feat(ci): Add release workflow for App Store submissions (#109)
  .github/workflows/release.yml
  fastlane/lanes/helpers.rb
  fastlane/lanes/release.rb
Due: none

feat: Add link sort order feature
  Targets/App/Sources/Generated/L10n.swift
  Targets/App/Sources/Resources/Localizable.xcstrings
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/FlinkyCore/Sources/Generated/L10n.swift
  Targets/FlinkyCore/Sources/Models/LinkSortOrder.swift
  Targets/FlinkyCore/Sources/Persistence/LinkListModel.swift
  Targets/FlinkyCore/Sources/Resources/Localizable.xcstrings
  Targets/FlinkyCoreTests/Sources/Models/LinkSortOrderTests.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

docs: Add AGENTS.md with coding agent instructions
  AGENTS.md
  CLAUDE.md
Due: format-markdown

chore: Update .gitignore for agent files
  .gitignore
Due: none

chore: add @sentry/dotagents setup
  .claude/skills
  agents.toml
Due: none

perf(ci): Use Debug configuration for CI screenshots
  fastlane/lanes/utilities.rb
Due: none

chore(ci): Rename screenshot job to "Screenshots"
  .github/workflows/build-test.yml
Due: none

fix(ci): Fix workflow concurrency group
  .github/workflows/build-test.yml
Due: none

perf(ci): Use Debug configuration for CI screenshots (#111)
  .github/workflows/build-test.yml
  fastlane/lanes/utilities.rb
Due: none

feat: Add link sort order feature (#110)
  Targets/App/Sources/Generated/L10n.swift
  Targets/App/Sources/Resources/Localizable.xcstrings
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/FlinkyCore/Sources/Generated/L10n.swift
  Targets/FlinkyCore/Sources/Models/LinkSortOrder.swift
  Targets/FlinkyCore/Sources/Persistence/LinkListModel.swift
  Targets/FlinkyCore/Sources/Resources/Localizable.xcstrings
  Targets/FlinkyCoreTests/Sources/Models/LinkSortOrderTests.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(ci): Correct IPA path in upload_to_app_store
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  fastlane/lanes/release.rb
Due: none

perf(ci): Use Debug configuration for release screenshots
  fastlane/lanes/utilities.rb
Due: none

perf(ci): Parallelize screenshot generation across CI jobs
  .github/workflows/release.yml
  fastlane/Fastfile
  fastlane/lanes/release.rb
  fastlane/lanes/screenshots.rb
Due: none

ci(fastlane): Switch build_ci to development signing for Sentry App Analysis
  fastlane/lanes/build.rb
  fastlane/lanes/helpers.rb
Due: none

fix(ci): Use Debug configuration for build_ci to match development signing
  fastlane/lanes/build.rb
Due: none

ci(fastlane): Switch build_ci to development signing for Sentry App Analysis (#114)
  fastlane/lanes/build.rb
  fastlane/lanes/helpers.rb
Due: none

fix(ui): Pass UIImage instead of ImageBox to share sheet
  Targets/App/Sources/UI/Components/ActivityViewController.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

feat(ui): Add EDR bright display for QR codes
  Targets/App/Sources/UI/Components/EDRMetalView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

ref(ui): Extract EDR blending logic into EDRMetalImageView
  Targets/App/Sources/UI/Components/EDRMetalImageView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

Path conditions:
  generate-localization: any of: ^(Sources/Resources/Localizable\.xcstrings|Templates/.*\.stencil|Makefile|Scripts/generate-localization\.sh)$
  generate-licenses: any of: \.swift$
  generate-version-in-settings: any of: \.swift$
  format-json: any of: ^.*\.json$ and \.json$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
  format-swift: any of: \.swift$
  lint: any of: \.swift$
