Repository techprimate/Flinky: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-localization, generate-licenses, generate-version-in-settings, format-json, format-markdown, format-yaml, format-swift, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: generate-localization
        name: Generate Localization
        entry: make
        language: system
        files: ^(Sources/Resources/Localizable\.xcstrings|Templates/.*\.stencil|Makefile|Scripts/generate-localization\.sh)$
        pass_filenames: false
        args:
          - "generate-localization"

      - id: generate-licenses
        name: Generate Licenses
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "generate-licenses"

      - id: generate-version-in-settings
        name: Generate Version in Settings
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "generate-version-in-settings"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "lint"

build(deps): Use fastlane snapshot fork
  Gemfile
  Gemfile.lock
Due: none

build(deps): Use fastlane snapshot fork (#129)
  Gemfile
  Gemfile.lock
Due: none

ref(ci): add separate workflow for screenshots (#128)
  .github/workflows/build-test.yml
  .github/workflows/screenshots.yml
Due: none

chore(deps): replace fork philprime/fastlane with fastlane/fastlane
  Gemfile
  Gemfile.lock
Due: none

fix(build): Make Sentry package patch target version-independent
  Makefile
  Scripts/patch-sentry-package.rb
  Scripts/patches/sentry-local-package.pbxproj.patch
Due: generate-localization

WIP
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorRenderView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorRenderView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoRenderView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsRenderView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

feat: Add toolbar button to display user feedback UI
  Targets/App/Sources/Generated/L10n.swift
  Targets/App/Sources/Resources/Localizable.xcstrings
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorRenderView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorRenderView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoRenderView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsRenderView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

feat: Add feedback environment, adopt new Sentry feedback API, and add UI tests
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Environment/Environment+Feedback.swift
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorRenderView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorRenderView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoRenderView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsRenderView.swift
  Targets/UITests/Sources/UITests.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(fastlane): Pass app_version to upload_metadata lane
  Gemfile.lock
  fastlane/lanes/utilities.rb
Due: none

chore: remove unused skills from agents.toml
  agents.toml
Due: none

fix(ci): wait for iOS simulator before running screenshot tests
  .github/workflows/release.yml
  fastlane/lanes/screenshots.rb
Due: none

fix(fastlane): treat nil run_tests result as failure for retry loop
  fastlane/lanes/screenshots.rb
Due: none

fix(release): update iOS simulator action to use main branch
  .github/workflows/release.yml
Due: none

fix(ci): pass simulator UDID from action to fastlane for consistency
  .github/workflows/release.yml
  fastlane/lanes/screenshots.rb
Due: none

fix(fastlane): guard against empty simulator_udid option
  fastlane/lanes/screenshots.rb
Due: none

fix(ci): wait for iOS simulator before running screenshot tests (#130)
  .github/workflows/release.yml
  fastlane/lanes/screenshots.rb
Due: none

fix(fastlane): Reject pending review submission before uploading
  fastlane/lanes/release.rb
Due: none

chore: bump version to 1.1.5
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

chore(deps): update sentry-fastlane-plugin to v2.5.6
  Gemfile.lock
Due: none

chore: Add xcodegen for Xcode Project generation
  .pre-commit-config.yaml
  Brewfile
  Brewfile-ci
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/FlinkyCore.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/FlinkyCoreTests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ScreenshotUITests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtension.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionTests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionUITests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/Tests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/UITests.xcscheme
  Makefile
  Scripts/generate-project.sh
  Targets/App/Sources/Resources/Info.plist
  Targets/ShareExtension/Sources/Resources/Info.plist
  project.yml
Due: generate-localization

fix: restore testable references and entitlements in xcodegen schemes
  Flinky.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/FlinkyCoreTests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ScreenshotUITests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtension.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionTests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionUITests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/Tests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/UITests.xcscheme
  project.yml
Due: none

fix: correct input/output paths in preBuildScript for incremental builds
  Flinky.xcodeproj/project.pbxproj
  project.yml
Due: none

fix: add extension-specific run config to ShareExtension scheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtension.xcscheme
  project.yml
Due: none

feat: Add breadcrumbs and toast notifications for feedback submission
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Generated/L10n.swift
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Localizable.xcstrings
Due: generate-licenses, generate-version-in-settings, format-swift, lint

refactor: split target sources into explicit Sources/Config/Generated groups
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Config/.gitkeep
  Targets/App/Sources/Resources/Info.plist
  Targets/FlinkyCore/Config/.gitkeep
  Targets/FlinkyCore/Generated/.gitkeep
  Targets/FlinkyCoreTests/Generated/.gitkeep
  Targets/ScreenshotUITests/Generated/.gitkeep
  Targets/ShareExtension/Config/.gitkeep
  Targets/ShareExtension/Generated/.gitkeep
  Targets/ShareExtension/Sources/Resources/Info.plist
  Targets/ShareExtensionTests/Generated/.gitkeep
  Targets/ShareExtensionUITests/Generated/.gitkeep
  Targets/Tests/Generated/.gitkeep
  Targets/UITests/Generated/.gitkeep
  project.yml
Due: none

ci: Wait for iOS simulator before tests and screenshots
  .github/workflows/build-test.yml
  .github/workflows/release-beta.yml
  .github/workflows/screenshots.yml
Due: none

ci: Wait for iOS simulator before tests and screenshots (#132)
  .github/workflows/build-test.yml
  .github/workflows/release-beta.yml
  .github/workflows/screenshots.yml
Due: none

chore(deps): update wait-for-services-action to v1.3.0
  .github/workflows/build-test.yml
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
  .github/workflows/screenshots.yml
Due: none

chore(deps): update wait-for-services-action to v1.3.0 (#133)
  .github/workflows/build-test.yml
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
  .github/workflows/screenshots.yml
Due: none

chore(deps): update to fastlane v2.236.0
  Gemfile
  Gemfile.lock
Due: none

ci: Add workflow to publish App Store metadata via ship CLI
  .github/workflows/publish-metadata.yml
Due: none

ci: Remove unneeded checkout step from publish-metadata workflow
  .github/workflows/publish-metadata.yml
Due: none

ci: Add workflow to publish App Store metadata via ship CLI (#134)
  .github/workflows/publish-metadata.yml
Due: none

feat(metrics): Add MetricKit integration reporting all metrics via Sentry
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Services/MetricKitManager.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

feat(metrics): Add MetricKit integration reporting all metrics via Sentry (#136)
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Services/MetricKitManager.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore: update copyright and marketing url in metadata
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  fastlane/metadata/copyright.txt
  fastlane/metadata/en-US/marketing_url.txt
Due: none

feat: add FeedbackAction environment and localization strings for feedback button
  Targets/App/Sources/Environment/Environment+Feedback.swift
  Targets/App/Sources/Generated/L10n.swift
  Targets/App/Sources/Resources/Localizable.xcstrings
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: generate-licenses, generate-version-in-settings, format-swift, lint

feat: add feedback button to all views
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorRenderView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorRenderView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorRenderView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoRenderView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsRenderView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix: use fake DSN instead of disabling Sentry in tests to keep feedback form functional
  Targets/App/Sources/Main/FlinkyApp.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

test: add UI tests for feedback button on all views
  Targets/UITests/Sources/UITests.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint
