Repository techprimate/Flinky: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-localization, generate-licenses, generate-version-in-settings, format-json, format-markdown, format-yaml, format-swift, lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.2
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: generate-localization
        name: Generate Localization
        entry: make
        language: system
        files: ^(Sources/Resources/Localizable\.xcstrings|Templates/.*\.stencil|Makefile|Scripts/generate-localization\.sh)$
        pass_filenames: false
        args:
          - "generate-localization"

      - id: generate-licenses
        name: Generate Licenses
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "generate-licenses"

      - id: generate-version-in-settings
        name: Generate Version in Settings
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "generate-version-in-settings"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "lint"

feat: add ONLY_TESTING support to all Makefile test targets
  Makefile
Due: generate-localization

feat: Add toolbar feedback buttons with Sentry feedback form integration (#33)
  Makefile
  Targets/App/Sources/Environment/Environment+Feedback.swift
  Targets/App/Sources/Generated/L10n.swift
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Localizable.xcstrings
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorRenderView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorRenderView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorRenderView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoRenderView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsRenderView.swift
  Targets/UITests/Sources/UITests.swift
Due: generate-localization, generate-licenses, generate-version-in-settings, format-swift, lint

refactor: introduce Dependencies container and remove singletons
  Targets/App/Sources/Main/Dependencies.swift
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Services/AppHealthObserver.swift
  Targets/App/Sources/Services/MetricKitManager.swift
  Targets/App/Sources/Utils/LazyThrowingValue.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

refactor: introduce Dependencies container and remove singletons (#142)
  Targets/App/Sources/Main/Dependencies.swift
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Services/AppHealthObserver.swift
  Targets/App/Sources/Services/MetricKitManager.swift
  Targets/App/Sources/Utils/LazyThrowingValue.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

ci(sentry): Ignore minor snapshot diffs
  fastlane/lanes/utilities.rb
Due: none

chore(deps): update Ruby Gems to latest versions
  Gemfile.lock
Due: none

chore: Regenerate licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

chore(agents): remove legacy skills from agents.toml
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  agents.toml
Due: none

ci(sentry): Ignore minor snapshot diffs (#147)
  Gemfile.lock
  fastlane/lanes/utilities.rb
Due: none

chore: bump version to 1.1.6
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

chore: bump version to 1.1.7
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
  fastlane/metadata/en-US/release_notes.txt
Due: none

ci: Add scheduled file regeneration workflow
  .github/workflows/regenerate-files.yml
Due: none

ci: Add scheduled file regeneration workflow (#153)
  .github/workflows/regenerate-files.yml
Due: none

ci: Limit regenerated file pull request paths
  .github/workflows/regenerate-files.yml
  .gitignore
Due: none

chore: regenerate files
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

ci: Limit regenerated file pull request paths (#155)
  .github/workflows/regenerate-files.yml
  .gitignore
Due: none

feat: adopt swift-log with Sentry integration
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Licenses/sentry-apple-swift-log.plist
  Targets/App/Sources/Resources/Settings.bundle/Licenses/swift-log.plist
Due: none

ref: migrate from SentrySPM to Sentry
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Services/AppHealthObserver.swift
  Targets/App/Sources/Services/DataSeedingService.swift
  Targets/App/Sources/Services/MetricKitManager.swift
  Targets/App/Sources/Services/QRCodeCache.swift
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/LinkListPickerContainerView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/App/Sources/UI/MainContainerView.swift
  Targets/App/Sources/Utils/SentryMetricsHelper.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

ci: Enable workflows for all pull requests
  .github/workflows/build-test.yml
  .github/workflows/screenshots.yml
Due: none

chore: use testing branch of sentry-apple-swift-log
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

ci: Force scheduled license regeneration
  .github/workflows/regenerate-files.yml
  Makefile
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
Due: generate-localization

revert generated file for E2E testing
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
Due: none

ci: Force scheduled license regeneration (#163)
  .github/workflows/regenerate-files.yml
  Makefile
Due: generate-localization

ci: Update Homebrew before regeneration
  .github/workflows/regenerate-files.yml
Due: none

ci: Update Homebrew before regeneration (#164)
  .github/workflows/regenerate-files.yml
Due: none

chore: regenerate files
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
Due: none

fix(app): Update Sentry and SwiftUI APIs
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoRenderView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoRenderView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

style: Replace legacy aspect-ratio modifiers
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoRenderView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoRenderView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore: update SentrySwiftLog to version 9.26.1 and adjust related configurations
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: none

chore(renovate): Group Sentry package updates
  renovate.json
Due: format-json

feat(logging): Route app logs through Sentry SwiftLog
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Services/AppHealthObserver.swift
  Targets/App/Sources/Services/DataSeedingService.swift
  Targets/App/Sources/Services/MetricKitManager.swift
  Targets/App/Sources/Services/QRCodeCache.swift
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/LinkListPickerContainerView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/FlinkyCore/Sources/Utils/Logger+ForType.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/Tests/Sources/Utils/LoggerForTypeTests.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

ref(logging): Clarify one-time initialization
  Targets/FlinkyCore/Sources/Utils/Once.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/Tests/Sources/Utils/OnceTests.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(deps): Use xcodeproj fork with trait support
  Gemfile
  Gemfile.lock
Due: none

fix(deps): Update xcodeproj shell script support
  Gemfile.lock
Due: none

feat(logging): Adopt swift-log with Sentry integration (#159)
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Gemfile
  Gemfile.lock
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/App/Sources/Resources/Settings.bundle/Licenses/sentry-apple-swift-log.plist
  Targets/App/Sources/Resources/Settings.bundle/Licenses/swift-log.plist
  Targets/App/Sources/Services/AppHealthObserver.swift
  Targets/App/Sources/Services/DataSeedingService.swift
  Targets/App/Sources/Services/MetricKitManager.swift
  Targets/App/Sources/Services/QRCodeCache.swift
  Targets/App/Sources/UI/CreateLinkEditor/CreateLinkEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/CreateLinkWithListPickerEditorContainerView.swift
  Targets/App/Sources/UI/CreateLinkWithoutListEditor/LinkListPickerContainerView.swift
  Targets/App/Sources/UI/CreateListEditor/CreateLinkListEditorContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkInfo/LinkInfoContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailContainerView.swift
  Targets/App/Sources/UI/LinkListDetail/LinkListDetailRenderView.swift
  Targets/App/Sources/UI/LinkListInfo/LinkListInfoContainerView.swift
  Targets/App/Sources/UI/LinkLists/LinkListsContainerView.swift
  Targets/FlinkyCore/Sources/Utils/Logger+ForType.swift
  Targets/FlinkyCore/Sources/Utils/Once.swift
  Targets/ShareExtension/Sources/ShareViewController.swift
  Targets/Tests/Sources/Utils/LoggerForTypeTests.swift
  Targets/Tests/Sources/Utils/OnceTests.swift
  renovate.json
Due: generate-licenses, generate-version-in-settings, format-json, format-swift, lint

perf(ci): Reuse screenshot test build
  .github/workflows/release-beta.yml
  .github/workflows/screenshots.yml
  Targets/ScreenshotUITests/Sources/ScreenshotUITests.swift
  fastlane/lanes/screenshots.rb
  fastlane/lanes/utilities.rb
Due: generate-licenses, generate-version-in-settings, format-swift, lint

perf(ci): Target screenshot build destination
  fastlane/lanes/screenshots.rb
  fastlane/lanes/utilities.rb
Due: none
