Repository techprimate/Flinky: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-localization, generate-licenses, generate-version-in-settings, format-json, format-markdown, format-yaml, format-swift, lint

generate-localization:
  name: Generate Localization
  entry: make
  language: system
  pass_filenames: false
  args:
  - generate-localization

generate-licenses:
  name: Generate Licenses
  entry: make
  language: system
  args:
  - generate-licenses

generate-version-in-settings:
  name: Generate Version in Settings
  entry: make
  language: system
  args:
  - generate-version-in-settings

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format

lint:
  name: Run Linters
  entry: make
  language: system
  args:
  - lint

ref(ui): Use failable init for EDR Renderer
  Targets/App/Sources/UI/Components/EDRMetalView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore: Update Xcode project for latest Xcode version
  Flinky.xcodeproj/project.pbxproj
Due: none

feat(ui): Add bright inset padding around EDR QR code
  Targets/App/Sources/UI/Components/EDRMetalImageView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(ui): Fix semaphore leak in EDR Renderer early returns
  Targets/App/Sources/UI/Components/EDRMetalView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore(deps): update Ruby Gems to latest versions
  Gemfile.lock
Due: none

chore(deps): update Ruby Gems to latest versions (#117)
  Gemfile.lock
Due: none

fix(dx): remove create-pr from agents.toml
  agents.toml
Due: none

fix(ui): Share Metal device between availability check and Renderer
  Targets/App/Sources/UI/Components/EDRMetalView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

feat(ui): Add EDR bright display for QR codes (#116)
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/UI/Components/EDRMetalImageView.swift
  Targets/App/Sources/UI/Components/EDRMetalView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailRenderView.swift
  agents.toml
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(ui): Pass UIImage instead of ImageBox to share sheet (#115)
  Targets/App/Sources/UI/Components/ActivityViewController.swift
  Targets/App/Sources/UI/LinkDetail/LinkDetailContainerView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

ci(release): Pin all release jobs to a single resolved main SHA
  .github/workflows/release.yml
Due: none

ci(release): Allow dispatching release from non-main refs
  .github/workflows/release.yml
Due: none

fix(fastlane): Specify scheme for run_screenshot_on_device tests
  fastlane/lanes/screenshots.rb
Due: none

fix(fastlane): Skip commit+tag on non-main release dispatches
  .github/workflows/release.yml
  fastlane/lanes/release.rb
Due: none

fix(ui): Skip EDR Metal path on iOS Simulator
  Targets/App/Sources/UI/Components/EDRMetalView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(ui): Skip EDR Metal path on iOS Simulator (#118)
  Targets/App/Sources/UI/Components/EDRMetalView.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(ci): Surface screenshot test failures and add retries
  Targets/ScreenshotUITests/Sources/ScreenshotUITests.swift
  fastlane/lanes/utilities.rb
Due: generate-licenses, generate-version-in-settings, format-swift, lint

fix(ci): Surface screenshot test failures and add retries (#119)
  Targets/ScreenshotUITests/Sources/ScreenshotUITests.swift
  fastlane/lanes/utilities.rb
Due: generate-licenses, generate-version-in-settings, format-swift, lint

ci: Set simulator boot wait for snapshot status bar override
  .github/workflows/build-test.yml
  .github/workflows/release.yml
Due: none

ci(release-beta): Set simulator boot wait for screenshot generation
  .github/workflows/release-beta.yml
Due: none

ci: Set simulator boot wait for snapshot status bar override (#120)
  .github/workflows/build-test.yml
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
Due: none

fix(fastlane): Wait for simulator boot before overriding status bar
  fastlane/lanes/screenshots.rb
Due: none

fix(fastlane): Retry run_screenshot_on_device tests up to 3x
  fastlane/lanes/screenshots.rb
Due: none

fix(fastlane): Drop build_number conflict and rename release lanes
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
  fastlane/Fastfile
  fastlane/lanes/release.rb
Due: none

fix(fastlane): Outer simulator reboot retry for screenshot flakes
  fastlane/lanes/screenshots.rb
Due: none

perf(ci): Parallelize screenshot generation across CI jobs and release flows (#113)
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
  fastlane/Fastfile
  fastlane/lanes/release.rb
  fastlane/lanes/screenshots.rb
Due: none

chore(ci): rename release workflows to publish
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
Due: none

refactor(ci): rename publish targets in Makefile
  Makefile
Due: generate-localization

chore(deps): regenerate Gemfile.lock
  Gemfile.lock
Due: none

chore: bump app version to 1.1.4
  Flinky.xcodeproj/project.pbxproj
  Targets/App/Sources/Resources/Settings.bundle/Root.plist
Due: none

fix(sentry): Migrate options to sentry-cocoa 9.12 API
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
  Targets/ShareExtension/Sources/ShareViewController.swift
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore: apply Xcode project upgrade
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/FlinkyCore.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/FlinkyCoreTests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ScreenshotUITests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtension.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionTests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/ShareExtensionUITests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/Tests.xcscheme
  Flinky.xcodeproj/xcshareddata/xcschemes/UITests.xcscheme
Due: none

build: Add Sentry package patch target
  Makefile
  Scripts/patches/sentry-local-package.pbxproj.patch
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
Due: generate-localization

chore(deps): update Gemfile.lock
  Gemfile.lock
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
Due: none

fix: update .swiftlint.yml to exclude additional directories
  .swiftlint.yml
Due: none

fix(ci): remove locked simulator versions
  .github/workflows/build-test.yml
Due: none

fix(ci): disable fastlane helper upgrade due to vendor file conflict
  fastlane/lanes/utilities.rb
Due: none

chore(deps): update to sentry-cocoa v9.15.0
  Flinky.xcodeproj/project.pbxproj
  Flinky.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Targets/App/Sources/Main/FlinkyApp.swift
  Targets/App/Sources/Resources/Settings.bundle/Licenses.latest_result.txt
  Targets/App/Sources/Resources/Settings.bundle/Licenses.plist
Due: generate-licenses, generate-version-in-settings, format-swift, lint

chore(deps): update Ruby to v4.0.5
  .ruby-version
Due: none

ref(ci): add separate workflow for screenshots
  .github/workflows/build-test.yml
  .github/workflows/screenshots.yml
Due: none

Path conditions:
  generate-localization: any of: ^(Sources/Resources/Localizable\.xcstrings|Templates/.*\.stencil|Makefile|Scripts/generate-localization\.sh)$
  generate-licenses: any of: \.swift$
  generate-version-in-settings: any of: \.swift$
  format-json: any of: ^.*\.json$ and \.json$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
  format-swift: any of: \.swift$
  lint: any of: \.swift$
